{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    {% if has_create_validator_permission %}
    <li>
        <a href="{% url 'admin:contributions_create_validator' %}" class="addlink">
            {% trans 'Create Validator' %}
        </a>
    </li>
    {% endif %}
    {% if has_run_uptime_permission %}
    <li>
        <a href="{% url 'admin:run_daily_uptime' %}" class="addlink">
            {% trans 'Run Daily Uptime Update' %}
        </a>
    </li>
    {% endif %}
{% endblock %}